# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history



# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
.claude/settings.local.json
.idea/caches/deviceStreaming.xml
.idea/libraries/Flutter_Plugins.xml
graphify-out/cache/0f5e9dae6f783bc1bcf73240a0a291f8d7bfc6f4a8efff39be29b93313df230b.json
graphify-out/cache/1729cdde7f9891f578396e4eac14c90ea1fa8d40b5808dd25e90d5fbe1982e64.json
graphify-out/cache/2acf733464f5747776cb11ee5006c7acdd97de26c460eecd773b18d6ddf90944.json
graphify-out/cache/2eea01343996fa826d89974e965070fa5c7b296a71644be69fd8b704f716a5ea.json
graphify-out/cache/41216910b527c3c2178b907035f66013ad40fb9d3bf536ecfeecdaa7ed596a09.json
graphify-out/cache/432f69e694913045f32f4561b64626107ca0d6014a313762da2d2b1762324eb4.json
graphify-out/cache/455b27976f922c12f039a37311282a3aa3b30eed4fb2305ab756e5954039f073.json
graphify-out/cache/4d657161f6a47d7365fb8822650ff8dd4c132841521d065dab5f7e2720ddf2e8.json
graphify-out/cache/537da6a623d99666c599386ca67ab7b148c43596da981cf812dfd96d22eb2a41.json
graphify-out/cache/583a35ddc0cda99f0e7b303484124a3f343dd001e778d0468d3f3d0389ad31b8.json
graphify-out/cache/6300cf4d9fc3d7cae67b210e30fb37b851cc2052b52c5a65d57a4540c49d8798.json
graphify-out/cache/70505762a9f344e97ce67dd7940fd7e8f1ca6ada7be2b2fb06772a8785a46b10.json
graphify-out/cache/7e271c0b39cbd62e0cd4bb2cb76a2999295926d6be66225856cff83ed88af6e2.json
graphify-out/cache/a0662f2fe7a1c8c12f9332a5fd996eef7d80ab6e960bec0d1352501bbec89ef1.json
graphify-out/cache/a3cd10367bb8016100d44f61ab14828976836986d6083b40a52e5de8bda57ee2.json
graphify-out/cache/b8efd8d805e7cf74c9602ecf122b1f66e3bbca6bdaea940036b6707e79306770.json
graphify-out/cache/c3124d0eccb281d2b5f175ad33998835e6ff004c7e557d0d5d8fb43c532d5b89.json
graphify-out/cache/c5e9f1fb781527172105439eef28561e6f623fae140a71c52bc8060e63b8ac90.json
graphify-out/cache/cd91ae700de5d4403d8cf05837a425deb6b9e8de382d14fe8028bb520fb4123b.json
graphify-out/cache/d50e3f8a172fdd48443886efb3aea458952dc1d8f32fd8398cee390fe3d2b25d.json
graphify-out/cache/d86ba4525df0f9860fb6b4acb7d09345f012e3d5627dcb396799a4e55eef26d0.json
graphify-out/cache/db2b738e0d7ab5936b2954445de88423cb254d46748ce59dcd1ed1af7ad1a8a5.json
graphify-out/cache/e79eb759616c779e73cc2b503aa70693e5bcfaff01867e088c302726e9f30cee.json
graphify-out/cache/e98eba2178a9ff1bf5680bed3f8f18ef030d1de099d587c1fd47be34a5179b58.json
graphify-out/cache/ef8533312538859ceddf485a205aa8d9a592fdde5bd0f620d43249ef1452a418.json
graphify-out/cache/efd93c3da9a2a33dc18ab65ee1eaa6e2cdebc390647d0d686b70c5a90508452b.json
graphify-out/cache/f58dbd152c24094f7d19a16286fa850e3e79d56b2d0a961d0619aedb27be33b7.json
graphify-out/cache/fb18dffe6f48dbb8cec8979f4bc438872f78be425609563217a17119016c2bc2.json
graphify-out/cost.json
graphify-out/graph.html
graphify-out/graph.json
graphify-out/GRAPH_REPORT.md
graphify-out/manifest.json
.idea/caches/deviceStreaming.xml
.idea/libraries/Flutter_Plugins.xml
